# deps
node_modules

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# test
coverage

# build, cache & out
dist
.turbo
.next

# misc
.DS_Store
*.pem
/.pnp
.pnp.js

# env
.env
.env*.local
next-env.d.ts